.menu {
    width: 300px;
    background-color: #101827;
    min-height: 100vh;
    position: fixed;
    top: 0; left: 0;
    transition: all 0.5s;
}

.site {
    margin-left: 300px;
    width: calc(100% - 300px);
    transition: all 0.5s;
}

.site.fechado {
    margin-left: 0px;
    width: 100%;
}

.menu.fechado {
    left: -300px;
}


.site .content {
    padding: 10px 20px;
}

.menu .logo {
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding: 20px 0;
}

.menu .divisor {
    border-bottom: 1px solid rgb(207, 205, 205);
    margin: 10px auto;
    width: 90%; 
    display: block;
    margin-bottom: 20px;
}

.menu .conteudo-menu {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.menu .conteudo-menu .item-menu {
    padding: 0;
}

.menu .conteudo-menu .item-menu .link-menu {
    color: rgb(207, 205, 205);
    text-decoration: none;
    font-size: 18px;
    display: block;
    font-weight: bold;
    padding: 7px 15px;
    border-radius: 0px;
    transition: all 0.5s;
    cursor: pointer;
    position: relative;
    margin-bottom: 0px;
}

.menu .conteudo-menu .item-menu .link-menu.active{
    color: #12b981;
    background-color: #242a38;
}

.menu .conteudo-menu .item-menu .link-menu span {
    margin-left: 10px;
}

.menu .conteudo-menu .item-menu .link-menu:hover {
    background-color: #242a38;
}

.menu .conteudo-menu .item-menu.subitem h3.link-menu::after {
    content: "\f0da";
    font-size: 20px;
    position: absolute;
    right: 10px;
    font-family: "Font Awesome 5 Free";
}

.menu .conteudo-menu .item-menu.subitem h3.link-menu.aberto::after {
    content: "\f0d7";
}

.menu .conteudo-menu .item-menu.sub {
    display: none;
}

.menu .conteudo-menu .item-menu.sub.aberto {
    display: block;
}

.menu .conteudo-menu .item-menu.sub li {
    padding-left: 20px;
    margin-bottom: 6px;
}

.menu .conteudo-menu .item-menu.sub li a.link-menu {
    font-size: 13px;
}

.menu .conteudo-menu li.item-menu {
    border-bottom: 1px solid rgba(255, 255, 255, 0.132);
}

@media (max-width: 1060px) {
    .site.aberto, 
    .site.fechado,
    .site {
        margin: 0px;
        width: 100%;
        transition: all 0.5s;
        z-index: 2;
        position: relative;
    }

    .menu {
        z-index: 4;
        width: 250px;
    }

    .navbar .btn-menu{transition: all 0.5s;}
    .site.aberto .navbar .btn-menu {margin-left: 250px;}
    .site.aberto .navbar .user-ciclo {display: none;}
}