/* .barra-titulo {
    box-shadow: 5px 1px 2px 1px #f0eded;  
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* .barra-titulo h1 {
    font-size: 1.8em;
    font-weight: 600;
    color: #333;
    margin: 0;
}

.barra-titulo .breadcrumb{
    margin: 0px;
}

.barra-titulo .breadcrumb a {
    color: #333;
    font-size: 0.9em;
    text-decoration: none;
}

.barra-titulo .breadcrumb li:last-child a {
    color: #a89a9a !important;
} */